<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/jpg" href="../assets/img/favicon.jpg">
        <title>Veterinaria San Blas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../assets/css/styles.css">
        <!-- Enlace a Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

    <!-- Navbar -->
    <div>
        <nav id="barra_navegacion" class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                
                <!-- Logo -->
                <a class="navbar-brand">
                    <img id="logo" src="../assets/img/logo.png" alt="Logo" width="60px">
                </a>

                <!-- Botón del toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Elementos de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">    
                    <ul class="navbar-nav">
                        <li class="nav-item p-3">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="reserva_hora.html">Reservar</a>
                        </li>                         
                        <li class="nav-item p-3">
                            <a class="nav-link" href="vacunatorio.html">Vacunatorio</a>
                        </li>                                                                  
                        <li class="nav-item p-3">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>                                            
                        <ul class="navbar-nav">
                            <li class="nav-item p-3">
                                <a class="nav-link nav-link-box" href="../views/iniciar_sesion.html">Iniciar sesión</a>
                            </li>
                            <li class="nav-item p-3">
                                <a class="nav-link nav-link-box" href="">Registrarse</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </div>    
    <!-- Header -->
    <div>
        <header>        
            <!-- Carrusel de imágenes -->
            <div id="carrusel_header" class="carousel slide" data-bs-ride="carousel">
      
                <!-- Indicadores de imágenes -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carrusel_header" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#carrusel_header" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carrusel_header" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#carrusel_header" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#carrusel_header" data-bs-slide-to="4"></button>
                </div>
          
                <!-- Contenido de la diapositiva -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="imagen_carrusel" src="../assets/img/header1.jpg" alt="header1" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img id="imagen_carrusel" src="../assets/img/header2.jpg" alt="header2" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img id="imagen_carrusel" src="../assets/img/header3.jpg" alt="header3" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img id="imagen_carrusel" src="../assets/img/header4.jpg" alt="header4" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img id="imagen_carrusel" src="../assets/img/header5.jpeg" alt="header5" class="d-block" style="width:100%">
                    </div>
                </div>
          
                <!-- Controles laterales -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carrusel_header" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrusel_header" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </header>
    </div>

    <!-- Breadcrumbs -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html" class="breadcrumb-link">Inicio</a></li>
                <li class="breadcrumb-item"><a href="dashboard.html" class="breadcrumb-link">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="mascotas.html" class="breadcrumb-link">Mascotas</a></li>
                <li class="breadcrumb-item"><a href="mascota_perfil.html" class="breadcrumb-link">Información Mascota</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Mascota</li>
            </ol>
        </nav>
    </div>
    
    <!-- Contenido de la página -->
    <div>
        <section id="registro">
            <div class="container">
                <div class="mx-auto text-justify" style="max-width: 600px;">
                    <!-- Formulario de actualización -->
                    <div class="card shadow-lg p-5">
                        <h2>Editar Información</h2>
                        <hr><br>
                    <p>Actualiza la información de tu mascota.</p>
                    <br>
                    <form action="#" method="POST">
                        <div class="mb-3">
                            <label for="chip" class="form-label">Chip</label>
                            <input type="text" class="form-control" value="1234567890ABCDEF" placeholder="Ingresa el número de chip" id="chip" name="chip" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" value="Luna" placeholder="Ingresa el nombre de la mascota" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="especie" class="form-label">Especie</label>
                            <input type="text" class="form-control" value="Gato" placeholder="Ingresa la especie (ej. Perro, Gato)" id="especie" name="especie" required>
                        </div>
                        <div class="mb-3">
                            <label for="raza" class="form-label">Raza</label>
                            <input type="text" class="form-control" value="Siamese" placeholder="Ingrese la raza de la mascota" id="raza" name="raza" required>
                        </div>
                        <div class="mb-3">
                            <label for="edad" class="form-label">Edad</label>
                            <input type="text" class="form-control" value="8 meses" placeholder="Ingresa la edad de la mascota" id="edad" name="edad" required>
                        </div>
                        <div class="mb-3">
                            <label for="sexo" class="form-label">Sexo</label>
                            <select class="form-control" id="sexo" name="sexo" required>
                                <option value="">Hembra</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="esterilizado" class="form-label">Esterilizado</label>
                            <select class="form-control" id="esterilizado" name="esterilizado" required>
                                <option value="">Sí</option>
                                <option value="Sí">Sí</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        
                        <a href="mascota_perfil.html" class="btn btn-primary">Actualizar Información</a>
                        <!-- <button type="submit" class="btn btn-primary" onclick="">Actualizar</button> -->
                    </form>
                </div>
            </div>        
        </section>
    </div>

    <!-- Footer de la página-->
    <div id="pie_pagina">
        <footer>
            <div class="container">
                
                <!-- Iconos de redes sociales -->
                <div id="redes_sociales">
                    <span href="#" class="fa fa-facebook"></span>
                    <span href="#" class="fa fa-whatsapp"></span>
                    <span href="#" class="fa fa-instagram"></span>                                        
                </div>
                <br><br>
                <!-- Enlace para suscribirse al newsletter -->
            <div>
                <div>
                    <a href="../views/contacto.html">Formulario de Contacto | </a>
                    <a href="../views/newsletter.html">Suscríbete a nuestro Newsletter</a>
                </div>
            <hr>
            </div>
                <span>© 2024 Veterinaria San Blas</span>
            </div>
        </footer>
    </div>
     
    <!-- JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>        

  </body>
</html>
